<style>
    body {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-size: 25px;
    }
</style>

<body>
    <section>
        <div class=>
            <div>
                <h1>TP multiplication</h1>
            </div>
        </div>
    </section>


    <div>
        <app-table-multilplication [chiffre]="chiffre"></app-table-multilplication>
    </div>

    <div>
        <app-tables-multiplication></app-tables-multiplication>
    </div>
</body>